* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#bigcont {
  width: 100vw;
  height: 100vw;
  background: #E8E8E8;
  color: #353535;
  display: flex;
  flex-direction: row
}

#stateCont {
  padding: 5vh;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  text-decoration-line: none;
  color: #353535;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

#leftside {
  width: 025vw;
  height: 100vh;
  color: #353535;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  background: #E8E8E8;
}

#middle {
  width: 075vw;
  height: 100vh;
}
.middleCont{
  width: 075vw;
  height: 100vh;
}

.top {
  width: 075vw;
  height: 25vh;
}


.middle {
  width: 075vw;
  height: 50vh;
}

.bottom {
  width: 075vw;
  height: 25vh;
}


#rightside {
  width: 000vw;
  height: 100vh;
}

.stateDataCalss {
  text-decoration-line: none
}